* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	font-size: 62.5%;
	font-family: 'Arimo', sans-serif;
}

body {
	max-width: 150rem;
	background: lighten($secondary-color, 35%);
	margin: 0 auto;
}